@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/ubuntu-300-italic.woff2') format('woff2'), url('../../fonts/ubuntu-300-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: var(--font-display-ubuntu, var(--font-display, swap));
}